<main class="main">




	{{#with data}}
	<div class="main__content">
		<div>
			<a href="/" class="title--center">Повернутись на головну</a>
		</div>

		<h1 class="title title--center"> Плейлист {{name}}</h1>

		<a href="/spotify-add?id={{id}}" class="add-button">
			<img src="/svg/add_button.svg" alt="add button">
			Додати до плейлиста
		</a>

		<ul class="track__list">

			{{#each tracks}}

			<li class="track">
				<img src="{{image}}" alt="add button" class="choose__image">
				<div class="track__content">
					<strong class="track__name">{{name}} </strong>
					<em class="track__author">{{author}}</em>
				</div>
				{{!-- <a href="/spotify-track-add?playlistId={{../playlistId}}&trackId={{id}}">
					<img src="/svg/add_button_circle.svg" alt="add bitton">
				</a> --}}
				<form action="/spotify-add" method="POST">
					<input type="hidden" name="playlistId" value="{{../playlistId}}">
					<input type="hidden" name="trackId=" value="{{id}}">
					<button class="button">

						<img src="/svg/add_button_circle.svg" alt="add bitton">

					</button>

				</form>

			</li>
			{{/each}}
		</ul>

	</div>
	{{/with}}
</main>